# Папки с виртуальным окружением Python
venv/
.venv/
env/
.env/

# Файлы скомпилированного Python кода
*.pyc
__pycache__/

# Файлы с результатами тестов
*.log
*.out
report.html  # Пример файла отчета, если pytest создает его

# Файлы, специфичные для операционной системы (например, macOS)
.DS_Store

# Другие временные файлы или папки, которые не должны попадать в репозиторий
temp/
tmp/
*.swp  # Файлы подкачки Vim

.vscode
settings.json
__init__.py